/*-- Document Defaults and Clearing --*/
html, body, div {/*-- zeros the margins and padding on containers --*/
	margin: 0;
	padding: 0;
}
body {
	display: block;/*-- allows margin:auto to function --*/
	width: 90%; /*-- supplies 5% margin on either side --*/
	margin: 0 auto; /*-- sets top margin to 0 and left and right to auto --*/
}
html {
	font-size: 17px;
}
.panel {
	box-sizing: border-box; /*-- border-box means borders are internal, etc. --*/
}
.panel, footer {
	margin: 0 -3px; /*-- corrects spacing bug --*/
}
h1, h2, h3, h4, h5, h6, p { /*-- zeros the margin and paddings on all text elements --*/
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

/*-- Panel Styles --*/
.panel {
	display: inline-block;/*-- allows panels to flow with content --*/
	width: 100%; /*-- sets default width of panels for small screens --*/
	padding: 20px 10px; /*-- sets padding inside panels --*/
	border: 3px solid #555;
}
.panel img {/*-- makes panel images scale with their containers --*/
	width: 100%;
	height: auto;
}

/*-- Hero Box Styles --*/
.hero {
	padding: 5% 0px 3% 0px; /*-- sets padding in hero container --*/
}
.hero h1 {
	font-size: 26px; /*-- sets hero title font size for small screens --*/
}
.hero p {
	font-size: 18px; /*-- sets hero paragraph font size for small screens --*/
}

/*-- BxSlider Style Corrections --*/
ul.bxslider { /*-- corrects image position --*/
	margin-left: -35px;
}
.bx-caption { /*-- corrects caption position --*/
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
}

/*-- Navigation Panel Styles --*/
#main-navigation:target {/*-- sets width of nav panel when opened --*/
  width: 25%;
}
.navigation {/*-- Sets properties of nav panel (closed by default) --*/
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 35%;
	transition: width .4s ease;
	background-color: #FFF;
	z-index: 10000;
	box-shadow:inset 0px 0px 0px 10px #999;
}
.navigation h2 {/*-- positions the nav h2 element --*/
	padding-top: 2rem;
	padding-left: 2rem;
	padding-bottom: 1rem;
}
.navigation ul { /*-- removes bullets from list items --*/
	list-style-type: none;
}
.navigation li a { /*-- sets anchors to block and pads them --*/
	display: block;
	padding: 1rem;
}
.navigation li a:hover { /*-- sets anchor properties on hover --*/
	background-color: #555;
	color: #fff;
}
.icon-wrap { /*-- sets icon container position --*/
	position: fixed;
	z-index: 9999;
	top: 1rem;
	right: 2rem;
}
span.hamburger { /*-- sets nav icon apperance --*/
	background: rgba(255,255,255,0.8);
	border: 2px solid #555;
	border-radius: 8px;
	color: #555;
	font-size: 3rem;
}
span:hover.hamburger { /*-- sets nav icon color on hover --*/
	background: rgba(255,255,255,1);
	color: #999;
	border-color: #999;
}
span.x-mark { /*-- sets close icon apperance and position --*/
	color: #555;
	font-size: 3em;
	position: absolute;
	top: 1rem;
	right: 2rem;
}
span:hover.x-mark { /*-- sets close icon color on hover --*/
	color: #999;
}

/*-- Footer Styles --*/
footer p {
	text-align: center;
	padding: 16px 0px;
}

/*-- Sets Panel Backgrounds by ID --*/
#red {background-color: red;}
#yellow {background-color: yellow;}
#orange {background-color: orange;}
#gold {background-color: gold;}
#teal {background-color: teal;}
#green {background-color: green;}
#aqua {background-color: aqua;}
#blue {background-color: blue;}
#lavender {background-color: lavender;}
#lightsteelblue {background-color: lightsteelblue;}
#lightcoral {background-color: lightcoral;}
#lightsalmon {background-color: lightsalmon;}

/*-- Sets Media Queries --*/
@media screen and (min-width: 478px) {/*-- specifies panel properties for screens LARGER than 480px --*/
	.panel {width: 50%;}
	.hero h1 {font-size: 32px;}
	.hero p {font-size: 24px;}
}
@media screen and (min-width: 768px) {/*-- specifies panel properties for screens LARGER than 768px --*/
	.panel {width: 33.33%;}
	.hero h1 {font-size: 40px;}
	.hero p {font-size: 32px;}
}
@media screen and (min-width: 1024px) {/*-- specifies panel properties for screens LARGER than 1024px --*/
	.panel {width: 25%;}
	.hero h1 {font-size: 48px;}
}
