/*-- Document Defaults and Clearing --*/
html, body, div {/*-- zeros the margins and padding on containers --*/
	margin: 0;
	padding: 0;
}
body {
	display: block;/*-- allows margin:auto to function --*/
	width: 90%; /*-- supplies 5% margin on either side --*/
	margin: 0 auto; /*-- sets top margin to 0 and left and right to auto --*/
}
html { /*-- sets root font size (rem) for smallest screen sizes --*/
	font-size: 10px;
}
h1 {font-size: 4rem; margin: 1rem auto 1.5rem;}
h2 {font-size: 3rem; margin: 1rem auto 1.5rem;}
h3 {font-size: 2rem; margin: 1rem auto 1rem;}
h4 {font-size: 1.25rem; margin: 1rem auto 1rem;}
.panel {
	box-sizing: border-box; /*-- border-box means borders are internal, etc. --*/
}
.panel, footer {
	margin: 0 -5px 0 0; /*-- corrects spacing bug --*/
}
a { /*-- removes underlines from all links --*/
	text-decoration: none;
}

/*-- Panel Styles --*/
.panel {
	display: inline-block;/*-- allows panels to flow with content --*/
	width: 100%; /*-- sets default width of panels for small screens --*/
	padding: 20px 10px; /*-- sets padding inside panels --*/
	border: 3px solid #555;
}
.panel img {/*-- makes panel images scale with their containers --*/
	width: 100%;
	height: auto;
}

/*-- Floated Slider Styles (for smallest screens) --*/
.hero {
	display: flex;
	flex-flow: column;
	padding: 5em 2em 0 2em;
	background-color: lightsteelblue;
}
.slides-container {
	flex-grow: 3;
}
.branding {
	padding-left: 2rem;
}
/*-- Hero Text Styles --*/
.hero h1 {
	font-size: 3rem; /*-- sets hero title font size for small screens --*/
}
.hero p {
	font-size: 1.5rem; /*-- sets hero paragraph font size for small screens --*/
}

/*-- BxSlider Style Corrections --*/
.bx-wrapper .bx-viewport {
	left: 0;
	background: rgba(255,255,255,0);
	border-color: rgba(255,255,255,0);
	box-shadow: none;
}
ul.bxslider { /*-- corrects image position --*/
	margin-left: -35px;
}
.bx-caption { /*-- corrects caption position --*/
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
}

/*-- Navigation Panel Styles --*/
#main-navigation:target {/*-- sets width of nav panel when opened --*/
  width: 25%;
}
.navigation {/*-- Sets properties of nav panel (closed by default) --*/
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 40%; /*-- sets the nav panel height --*/
	transition: width .4s ease;
	background-color: #FFF;
	z-index: 10000;
}
.navigation h2 {/*-- positions the nav h2 element --*/
	padding-top: 2rem;
	padding-left: 2rem;
	padding-bottom: 1rem;
}
.navigation ul { /*-- removes bullets from list items --*/
	list-style-type: none;
}
.navigation li a { /*-- sets anchors to block and pads them --*/
	display: block;
	padding: 1rem;
}
.navigation li a:hover { /*-- sets anchor properties on hover --*/
	background-color: #555;
	color: #fff;
}
.icon-wrap { /*-- sets icon container position --*/
	position: fixed;
	z-index: 9999;
	top: 1rem;
	right: 5rem;
}
span.hamburger { /*-- sets nav icon apperance --*/
	background: rgba(255,255,255,0.8);
	border: 2px solid #555;
	border-radius: 8px;
	color: #555;
	font-size: 3rem;
}
span:hover.hamburger { /*-- sets nav icon color on hover --*/
	background: rgba(255,255,255,1);
	color: #999;
	border-color: #999;
}
span.x-mark { /*-- sets close icon apperance and position --*/
	color: #555;
	font-size: 3em;
	position: absolute;
	top: 1rem;
	right: 5rem;
}
span:hover.x-mark { /*-- sets close icon color on hover --*/
	color: #999;
}

/*-- Footer Styles --*/
footer p {
	text-align: center;
	padding: 16px 0px;
}

/*-- Sets Panel Backgrounds by ID --*/
#whitesmoke{background: whitesmoke;}
#thistle {background: thistle;}
#silver {background: silver;}
#seashell {background: seashell;}
#papayawhip {background: papayawhip;}
#mintcream {background: mintcream;}
#lightsteelblue {background: lightsteelblue;}
#lightgray {background: lightgray;}
#lightcyan {background: lightcyan;}
#lavender {background: lavender;}
#gainsboro {background: gainsboro;}
#azure {background: azure;}
#aliceblue {background: aliceblue;}

/*-- Sets Media Queries --*/
@media screen and (min-width: 478px) {/*-- specifies panel properties for screens LARGER than 480px --*/
	html {font-size: 12px;}
	.panel {width: 50%;}
}
@media screen and (min-width: 768px) {/*-- specifies panel properties for screens LARGER than 768px --*/
	html {font-size: 14px;}
	.panel {width: 33.33%;}
}
@media screen and (min-width: 1024px) {/*-- specifies panel properties for screens LARGER than 1024px --*/
	html {font-size: 16px;}
	.branding {width: 30%;}
	.hero {flex-flow: row wrap;}
	.panel {width: 25%;}
}
@media screen and (min-width: 1440px) {/*-- specifies panel properties for screens LARGER than 1440px --*/
	html {font-size: 18px;}
	.panel {width: 16.66%;}
}
